*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #a85224;
}

.tabel{
  background-color: #d5a287;
  margin-inline: 20px;
  border-radius: 20px;
}
.navbar-tabel{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 18px;
  border-radius:20px;
  background-color:#fff4f1 ;
}
.navbar-tabel p{
  margin-inline: -70px;
  font-family: 'atkinson hyperglebile',sans-serif;
  font-size: 20px;
  color: #542114;
  flex: 0 0 calc(33.333% - 10px); 
  box-sizing: border-box;
  text-align: center;
  padding: 8px;
  
}

.search-tabel{
  margin: 10px;
  margin-inline: 18px;
}
.search-tabel input{
  color:#542114 ;
  font-size: 20px;
  font-family: 'atkinson hyperglebile',sans-serif;
  background-color:#fff4f1 ;
  border-radius:20px;
  border: none;
  margin-top: 10px;
  padding: 8px;
  outline: none;
}
.search-tabel input::placeholder{
  
  color:#542114 ;
}

.tombol{
  cursor: pointer;
}
.list-nama{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-inline: 25px;
  padding: 10px;
}

.list-nama p{
  flex: 0 0 calc(33.333% - 10px); 
  font-family: "Hanken Grotesk",sans-serif;
  margin-inline: -70px;
  font-size: 14px;
  font-weight: bolder;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f6eae7;
  text-align: center;
  color: #5c3b25;
}

.list-nama button{
  font-size: 14px;
      font-family: "Hanken Grotesk",sans-serif;
      background-color: #5c3b25;
  border-radius:5px;
  border: none;
  padding: 5px;
  color: #fff4f1;
    }
    /* Responsiveness */
    /* @media (max-width: 600px) {
      .tabel {
        flex-direction: column;
    align-items: flex-start;
  }

  .search-tabel form {
    flex-direction: column;
    width: 100%;
  }

  .search-tabel input[type="submit"] {
    width: 100%;
  }
} */
