html{
    margin: 0;
}
body{
    background-image: url(image/bg_index.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

    
    .judul h1{
        font-size: 80px;
        font-family: 'Peace Sans', sans-serif;
        color: #fff4f1;
        padding: 27.4px;
        width: 100%;
    }
    .dekstop-icon{
        margin-top: 8.7%;
        display: block;
        text-align: center;
    
    }
    
    .logo-tulisan{
        justify-content: center;
        align-items: center;
        color: #fff4f1;
        display: flex;
        padding: 10px;
    }
    
    .logo-tulisan p{
        margin: 15px;
        font-size: 23px;
        font-family: 'solway', sans-serif ;
        font-weight: bolder;
    }
    
    img{
        height: 180px;
        width: 180px;
    }
    .logo-tulisan img{
        
        animation: mantap 3s linear infinite;
}
    @keyframes mantap{
        100%{
            transform: rotate(360deg);
        }
    }
    .module{
        padding: 25px;
        
    }
    .module a:hover {
        padding: 12px;
        font-family: 'Hanken Grotesk', sans-serif ;
        font-size: 17.2px;
        font-weight: bold;
        text-decoration: none;
        background-color:  #4e2116;
        color: #fff4f1;
        display: block;
        margin-inline: 45%;
        transition: 0.27s ease-in-out;
        /* animation: shadow 5s linear infinite; */
    }
    
    .module a {
        padding: 12px;
        font-family: 'Hanken Grotesk', sans-serif ;
        font-size: 17.2px;
        font-weight: bold;
        text-decoration: none;
        background-color: #fff4f1;
        color: #4e2116;
        display: block;
        margin-inline: 45%;
    }
    @media screen and (max-width:520px) {
        .judul h1{
            background-color:rgba(233, 198, 170, 0.8) ;      
        }
        
        body{
            height: 100vh;
        }
        .dekstop-icon{
            margin-top: 25%;
        }
        .logo-tulisan p{
            font-size: 17px;
            margin-right:40px;
            margin-left: 40px;
        }
        .module a:hover{
            
            background-color: #fff4f1;
            color: #4e2116;
            transition: 0.27s ease-in-out;
        }
        .module a{
            margin-inline: 35%;

        }
    }
    
    @media screen and (max-width: 1230) {
        .judul h1{
            background-color: aqua;
        }
    }