*{
    margin: 0;
    padding: 0px;
}
body{
    background-image: url(image/bg_index.jpeg);
    background-size: cover;
}

.title{
    font-family: sans-serif;
    font-weight: lighter;
    color: #fff4f1;
    margin-bottom: 10px;
}
.login-form{
    margin-top: 17%;
    background-color:rgba(233, 198, 170, 0.76) ;
     text-align: center;
     display: block;
     margin-inline: 580px;
     border-radius: 7px;
    }
    
    .login-form img{
        color:#fff4f1 ;

    }

    .login-form p{
        padding: 10px;
    }
    
    .ketikan input{
        position: relative;
        width:270px;
        height: 35px;
        border-radius: 30px;
        background-color: #4e2116;
        border: none;
        outline: none;
        padding: 3px 23px 10px 10px ;
        color:#fff4f1 ;
        font-family: 'solway';
    }
    
    .ketikan input::placeholder{
        color:#fff4f1 ;
        font-family: 'solway';
        font-size: 18px;
    }
    
    .ketikan input i{
        position: absolute;
    }
    
    .submit-tombol input{
        
        position: relative;
        width:100px;
        height: 50px;
        border-radius: 30px;
        background-color: #966b61;
        border: none;
        font-size: 25px;
        outline: none;
        padding: 10px 20px 10px 10px ;
        color:#fff4f1 ;
        font-family: 'solway';
    }